html,
body { height: 100%;
       width: 100%;
}
nav { text-align: center;
      background-color: #f4c2c2;
}
.parent {
display: flex;
justify-content: center;
position: relative;
}
.child {
position: absolute;
top: 50%;
left: 50%;
transform: translate(120%, 2%);
}